<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <div class="flexrow" style="flex: 0">
    <div class="sheet-header-profile">
      <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    </div>

    <header class="sheet-header flexrow">
    <div class="header-details flexrow">
      {{#if isGM}}
      <h3 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h3>

      <h3 class="charname">
        <input name="data.unidentified.name" type="text" value="{{data.data.unidentified.name}}" placeholder="{{localize "D35E.UnidentifiedName"}}"/>
      </h3>
      {{else}}
      {{#if showUnidentifiedData}}
      <h1 class="charname">
        <input name="data.unidentified.name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{else}}
      <h1 class="charname">
        <input name="name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{/if}}
      {{/if}}

      <div class="item-subtitle">
        <h4 class="item-type">{{localize "D35E.Item"}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{#unless showUnidentifiedData}}{{labels.equipmentSubtype}}{{/unless}}
        </li>
        <li>
          {{#if hasMultipleSlots}}{{#unless showUnidentifiedData}}{{labels.slot}}{{/unless}}{{/if}}
        </li>
      </ul>
    </div>
  </header>
  </div>


  {{#if data.data.material.data.uniqueId}}
  <section class="original-weapon-box flexrow material-box" style="flex: 0;">

    <div class="sheet-header-small">
      <img class="" src="{{data.data.material.img}}" title="{{data.data.material.name}}"/>
    </div>
    <div class="flexrow">
      <h3 class="origin-weapon-name">
        <strong>{{localize "D35E.Material"}}</strong> {{data.data.material.name}}
      </h3>
      <a class="btn blue-button view-details-material" style="height: 40px; flex: 0 100px; width: 100px; text-align: center; line-height: 40px; font-family: 'Nodesto'; font-size: 18px;">View details</a>
    </div>
  </section>
  {{/if}}

  {{!-- Item Sheet Navigation --}}
  <section class="sheet-content flexcol">
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "D35E.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "D35E.Details" }}</a>
    {{#unless showUnidentifiedData}}
      <a class="item" data-tab="configuration" style="flex: 0 150px;">{{ localize "D35E.Configuration" }}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/D35E/templates/items/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{localize "D35E.Details"}}</h3>

      {{!-- Equipment Type --}}
      {{#unless showUnidentifiedData}}
      <div class="form-group">
        <label>{{localize "D35E.Category"}}</label>
        <select name="data.equipmentType">
          {{#select data.data.equipmentType}}
          {{#each equipmentCategories.types as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{/unless}}

      {{!-- Equipment Subtype --}}
      {{#unless showUnidentifiedData}}<div class="form-group">
        <label>{{localize "D35E.Type"}}</label>
        <select name="data.equipmentSubtype">
          {{#select data.data.equipmentSubtype}}
          {{#each equipmentCategories.subTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>


      {{!-- Material Type --}}
      <div class="form-group">
        <label>{{localize "D35E.Material"}}</label>
        <select name="data.selectedMaterial">
          {{#select data.data.material.data.uniqueId}}
          <option value="none">{{localize "D35E.NoMaterial"}}</option>
          {{#each materials as |material type|}}
          <option value="{{material.data.data.uniqueId}}">{{material.data.name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{/unless}}
    

      {{!-- Equipment Slot --}}
      {{#unless showUnidentifiedData}}{{#if hasMultipleSlots}}
      <div class="form-group">
        <label>{{localize "D35E.Slot"}}</label>
        <select name="data.slot">
          {{#select data.data.slot}}
          {{#each equipmentSlots as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
      {{else}}
      <input type="hidden" name="data.slot" value="{{data.data.slot}}" />
      {{/if}}
      {{/unless}}

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        <label>{{localize "D35E.EquipmentStatus"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.equipped" {{checked data.data.equipped}}/> {{localize "D35E.Equipped"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.masterwork" {{checked data.data.masterwork}}/> {{localize "D35E.Masterwork"}}
        </label>
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="data.identified" {{checked data.data.identified}}/> {{localize "D35E.Identified"}}
        </label>
        {{/if}}
      </div>

      {{#if showArmorData}}
      {{!-- Armor Class --}}
      <div class="form-group">
        <label>{{localize "D35E.ArmorClass"}}</label>
        <div class="form-fields">
          <input type="text" name="data.armor.value" value="{{data.data.armor.value}}" data-dtype="Number"/>
        </div>
      </div>

      {{!-- Enhancement Bonus --}}
      <div class="form-group">
        <label>{{localize "D35E.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.armor.enh" value="{{data.data.armor.enh}}" data-dtype="Number"/>
        </div>
      </div>


      {{/if}}

      {{#unless showUnidentifiedData}}
      {{!-- Dexterity Modifier --}}
      <div class="form-group">
        <label>{{localize "D35E.MaxDexterityModifier"}}</label>
        <div class="form-fields">
          <input type="text" name="data.armor.dex" value="{{data.data.armor.dex}}" placeholder="{{localize "D35E.Unlimited"}}"/>
        </div>
      </div>

      {{!-- Armor Check Penalty --}}
      <div class="form-group">
        <label>{{localize "D35E.ArmorCheckPenalty"}}</label>
        <div class="form-fields">
          <input type="text" name="data.armor.acp" value="{{data.data.armor.acp}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      {{!-- Spell Failure --}}
      <div class="form-group">
        <label>{{localize "D35E.ArcaneSpellFailure"}}</label>
        <div class="form-fields">
          <input type="text" name="data.spellFailure" value="{{data.data.spellFailure}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      <h3 class="form-header">{{localize "D35E.EquipmentUsage"}}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/D35E/templates/items/parts/item-activation.html"}}

      <h3 class="form-header">{{localize "D35E.Action"}}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/D35E/templates/items/parts/item-action.html"}}

      <h3 class="form-header">{{localize "D35E.MeasureTemplate"}}</h3>

      {{!-- Item Measure Template --}}
      {{> "systems/D35E/templates/items/parts/item-template.html"}}

      <h3 class="form-header">{{localize "D35E.Senses"}}</h3>
      {{> "systems/D35E/templates/items/parts/item-senses.html"}}

      <h3 class="form-header">{{localize "D35E.LightItemLight"}}</h3>
      {{> "systems/D35E/templates/items/parts/item-light.html"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}

    <div class="tab flexcol active" data-group="primary" data-tab="configuration">
      <nav class="sheet-navigation tabs subtabs configuration" data-group="configuration">
        <a class="item" data-tab="changes">{{localize "D35E.Changes"}}</a>
        <a class="item" data-tab="enhancements">{{localize "D35E.Enhancements"}}</a>
        <a class="item" data-tab="linked-items">{{localize "D35E.Links"}}</a>
      </nav>

    
      <div class="flexrow configuration-container" style="overflow: hidden; height: 100%">
        <section class="configuration-body" style="display: block; height: 100%">
        <div class="tab configuration-group flexcol" data-group="configuration"  data-tab="changes">
          {{> "systems/D35E/templates/items/parts/item-changes.html"}}

          {{> "systems/D35E/templates/items/parts/item-notes.html"}}
        </div>
        <div class="tab configuration-group flexcol" data-group="configuration"  data-tab="enhancements">
          {{> "systems/D35E/templates/items/parts/item-enhancement.html"}}
        </div>
        <div class="tab configuration-group flexcol" data-group="configuration" data-tab="linked-items">
          {{> "systems/D35E/templates/items/parts/item-links.html"}}
        </div>
        </section>
      </div>
    </div>
    {{/unless}}
  </section>
  </section>
</form>
