<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Item Sheet Header --}}
  <div class="flexrow" style="flex: 0">
    <div class="sheet-header-profile">
      <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    </div>

    <header class="sheet-header flexrow">

    <div class="header-details flexrow">
      <div class="flexcol">
      {{#if isGM}}
      <h3 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h3>

      <h3 class="charname">
        <input name="data.unidentified.name" type="text" value="{{data.data.unidentified.name}}" placeholder="{{localize "D35E.UnidentifiedName"}}"/>
      </h3>
      {{else}}
      {{#if showUnidentifiedData}}
      <h1 class="charname">
        <input name="data.unidentified.name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{else}}
      <h1 class="charname">
        <input name="name" type="text" value="{{itemName}}" placeholder="{{localize "D35E.ItemName"}}"/>
      </h1>
      {{/if}}
      {{/if}}
      </div>

      <div class="item-subtitle">
        <h4 class="item-type">{{localize "D35E.Item"}}</h4>
        <span class="item-status">{{itemStatus}}</span>
      </div>

      <ul class="summary">
        <li>
          {{itemType}}
        </li>
        <li>
          {{labels.weaponType}}
        </li>
        <li>
          {{labels.weaponSubtype}}
        </li>
      </ul>

    </div>
  </header>
  </div>

  {{#if data.data.material.data.uniqueId}}
  <section class="original-weapon-box flexrow material-box" style="flex: 0;">

    <div class="sheet-header-small">
      <img class="" src="{{data.data.material.img}}" title="{{data.data.material.name}}"/>
    </div>
    <div class="flexrow">
      <h3 class="origin-weapon-name">
        <strong>{{localize "D35E.Material"}}</strong> {{data.data.material.name}}
      </h3>
      <a class="btn blue-button view-details-material" style="height: 40px; flex: 0 100px; width: 100px; text-align: center; line-height: 40px; font-family: 'Nodesto'; font-size: 18px;">View details</a>
    </div>
  </section>
  {{/if}}

  <section class="sheet-content flexcol sheet-weapon" style="{{#if data.data.material.data.uniqueId}}min-height: 335px; height: 335px{{/if}}">
  {{!-- Item Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "D35E.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "D35E.Details" }}</a>
    {{#unless showUnidentifiedData}}
    <a class="item" data-tab="changes">{{ localize "D35E.Changes" }}</a>
    <a class="item" data-tab="enhancements">{{ localize "D35E.Enhancements" }}</a>
    <a class="item" data-tab="linked-items">{{localize "D35E.Links"}}</a>
    {{/unless}}
  </nav>

  {{!-- Item Sheet Body --}}
  <section class="primary-body">

    {{!-- Description Tab --}}
    {{> "systems/D35E/templates/items/parts/item-description.html"}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">Weapon Details</h3>

      {{!-- Material Type --}}
      <div class="form-group">
        <label>{{localize "D35E.Material"}}</label>
        <select name="data.selectedMaterial">
          {{#select data.data.material.data.uniqueId}}
          <option value="none">{{localize "D35E.NoMaterial"}}</option>
          {{#each materials as |material type|}}
            <option value="{{material.data.data.uniqueId}}">{{material.data.name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>



      {{!-- Weapon Type --}}
      <div class="form-group">
        <label>{{localize "D35E.Category"}}</label>
        <select name="data.weaponType">
          {{#select data.data.weaponType}}
          {{#each weaponCategories.types as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Weapon Subtype --}}
      <div class="form-group">
        <label>{{localize "D35E.Type"}}</label>
        <select name="data.weaponSubtype">
          {{#select data.data.weaponSubtype}}
          {{#each weaponCategories.subTypes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Weapon Size --}}
      <div class="form-group">
        <label>{{localize "D35E.WeaponSize"}}</label>
        <select name="data.weaponData.size">
          {{#select data.data.weaponData.size}}
          {{#each config.actorSizes as |name type|}}
          <option value="{{type}}">{{name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Equipment Status --}}
      <div class="form-group stacked">
        <label>{{localize "D35E.EquipmentStatus"}}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.equipped" {{checked data.data.equipped}}/> {{localize "D35E.Equipped"}}
        </label>
        {{#if isGM}}
        <label class="checkbox">
          <input type="checkbox" name="data.identified" {{checked data.data.identified}}/> {{localize "D35E.Identified"}}
        </label>
        {{/if}}
        <label class="checkbox">
          <input type="checkbox" name="data.masterwork" {{checked data.data.masterwork}}/> {{localize "D35E.Masterwork"}}
        </label>
      </div>

      {{#unless showUnidentifiedData}}
      {{!-- Weapon Properties --}}
      <div class="form-group stacked weapon-properties">
        <label>{{localize "D35E.WeaponProperties"}}</label>
      </div>
      <div class="flexrow">
        {{#each config.weaponProperties as |name prop|}}
        <div class="toggle">
          <input id="{{../randomUuid}}-data.properties.{{prop}}" type="checkbox" name="data.properties.{{prop}}" {{checked (lookup ../data.data.properties prop)}}/>
          <label for="{{../randomUuid}}-data.properties.{{prop}}">{{#if (lookup ../data.data.properties prop)}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{ name }}</label>
        </div>
        {{/each}}
      </div>

      {{#if isRanged}}
      <div class="form-group">
        <label>{{localize "D35E.Range"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.range" value="{{data.data.weaponData.range}}" data-dtype="Number"/>
        </div>
      </div>
      {{/if}}

      <div class="form-group">
        <label>{{localize "D35E.EnhancementBonus"}}</label>
        <div class="form-fields">
          <input type="text" name="data.enh" value="{{data.data.enh}}" data-dtype="Number" placeholder="0"/>
        </div>
      </div>

      {{!-- Weapon Bonus Attack Formula --}}
      <div class="form-group">
        <label>{{localize "D35E.BonusAttackFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.attackFormula" value="{{data.data.weaponData.attackFormula}}" placeholder="{{localize "D35E.BonusAttackFormula"}}"/>
        </div>
      </div>

      {{!-- Weapon Damage --}}
      <div class="form-group">
        <label>{{localize "D35E.BaseWeaponDamage"}} ({{localize "D35E.ActorSizeMedium"}})</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.damageRoll" value="{{data.data.weaponData.damageRoll}}" placeholder="{{localize "D35E.DamageRoll"}}"/>
          <select name="data.weaponData.damageTypeId">
            {{#select data.data.weaponData.damageTypeId}}
            <option value="">{{localize "D35E.Custom"}}</option>
            {{#each damageTypes as |damage type|}}
            <option value="{{damage.data.data.uniqueId}}">{{damage.data.name}}</option>
            {{/each}}
            {{/select}}
          </select>
          {{#unless data.data.weaponData.damageTypeId}}
          <input type="text" name="data.weaponData.damageType" value="{{data.data.weaponData.damageType}}" placeholder="{{localize "D35E.DamageType"}}"/>
          {{/unless}}
        </div>
      </div>

      {{!-- Weapon Bonus Damage Formula --}}
      <div class="form-group">
        <label>{{localize "D35E.BonusDamageFormula"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.damageFormula" value="{{data.data.weaponData.damageFormula}}" placeholder="{{localize "D35E.BonusDamageFormula"}}"/>
        </div>
      </div>

      {{!-- Weapon Critical Damage --}}
      <div class="form-group">
        <label>{{localize "D35E.BaseWeaponCritical"}}</label>
        <div class="form-fields">
          <input type="text" name="data.weaponData.critRange" value="{{data.data.weaponData.critRange}}" placeholder="20"/>
          <input type="text" name="data.weaponData.critMult" value="{{data.data.weaponData.critMult}}" placeholder="2"/>
        </div>
      </div>

      <div class="form-group">
        <label>{{localize "D35E.WeaponDamageAlignment"}}</label>
      </div>
      <div class="flexrow">
        <div class="form-group" style="flex: 1">
          <div class="toggle" style="width: 125px">
            <input id="{{randomUuid}}-data.weaponData.alignment.good" type="checkbox" name="data.weaponData.alignment.good" {{checked data.data.weaponData.alignment.good}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.good">{{#if data.data.weaponData.alignment.good}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentGood"}}</label>
          </div>
        </div>
        <div class="form-group" style="flex: 1">
          <div class="toggle" style="width: 125px">
            <input id="{{randomUuid}}-data.weaponData.alignment.evil" type="checkbox" name="data.weaponData.alignment.evil" {{checked data.data.weaponData.alignment.evil}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.evil">{{#if data.data.weaponData.alignment.evil}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentEvil"}}</label>
          </div>
        </div>
        <div class="form-group" style="flex: 1">
          <div class="toggle" style="width: 125px">
            <input id="{{randomUuid}}-data.weaponData.alignment.chaotic" type="checkbox" name="data.weaponData.alignment.chaotic" {{checked data.data.weaponData.alignment.chaotic}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.chaotic">{{#if data.data.weaponData.alignment.chaotic}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentChaotic"}}</label>
          </div>
        </div>
        <div class="form-group" style="flex: 1">
          <div class="toggle">
            <input id="{{randomUuid}}-data.weaponData.alignment.lawful" type="checkbox" name="data.weaponData.alignment.lawful" {{checked data.data.weaponData.alignment.lawful}}/>
            <label style="width: 125px" for="{{randomUuid}}-data.weaponData.alignment.lawful">{{#if data.data.weaponData.alignment.lawful}}<i class="far fa-check-square"></i>{{else}}<i class="far fa-square"></i>{{/if}}{{localize "D35E.AlignmentLawful"}}</label>
          </div>
        </div>
      </div>


      <div class="form-group stacked">
        <label>{{localize "D35E.AttackNotes"}}</label>
        <textarea type="text" name="data.attackNotes">{{data.data.attackNotes}}</textarea>
      </div>
      <div class="form-group stacked">
        <label>{{localize "D35E.EffectNotes"}}</label>
        <textarea type="text" name="data.effectNotes">{{data.data.effectNotes}}</textarea>
      </div>

      <h3 class="form-header">{{localize "D35E.LightItemLight"}}</h3>
      {{> "systems/D35E/templates/items/parts/item-light.html"}}
      {{/unless}}
    </div>

    {{!-- Changes Tab --}}
    {{#unless showUnidentifiedData}}
    <div class="tab flexcol" data-group="primary" data-tab="changes">
      {{> "systems/D35E/templates/items/parts/item-changes.html"}}

      {{> "systems/D35E/templates/items/parts/item-notes.html"}}
    </div>
    <div class="tab flexcol" data-group="primary" data-tab="enhancements">
      {{> "systems/D35E/templates/items/parts/item-enhancement.html"}}
    </div>
    <div class="tab flexcol" data-tab="linked-items">
      {{> "systems/D35E/templates/items/parts/item-links.html"}}
    </div>
    {{/unless}}
  </section>
  </section>

<!--  {{#unless showUnidentifiedData}}-->
<!--  {{#if owner}}-->
<!--  <div class="form-group">-->
<!--    <button type="button" name="create-attack">{{localize "D35E.CreateAttack"}}</button>-->
<!--  </div>-->
<!--  {{/if}}-->
<!--  {{/unless}}-->
</form>
