{{!-- AC --}}
<ul class="attributes armor-class flexrow" style="flex: none">
  <li>
    <h3 class="block-header">{{ localize 'D35E.ArmorClass' }}
      <a title="{{ localize 'D35E.ACNotes' }}" class="note-editor small" for="data.attributes.acNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
  <li>
    <h3 class="block-header">{{ localize 'D35E.SavingThrowPlural' }}
      <a title="{{ localize 'D35E.SavingThrowsNotes' }}"  class="note-editor small" for="data.attributes.saveNotes"><i class="fas fa-edit"></i></a></h3>
  </li>
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  {{#each data.attributes.ac as |ac id|}}
  <li class="attribute armor-class tooltip" data-armorclass="{{id}}">
    <div class="tooltipcontent">
      @attributes.ac.{{id}}.total : {{ac.total}}

      {{#if ac.sourceDetails.length}}
      <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>
      {{#each ac.sourceDetails as |src|}}
      {{src.name}}: {{src.value}}<br/>
      {{/each}}
      {{/if}}
    </div>
    <h4 class="attribute-name box-title">{{ac.label}}</h4>
    <div class="attribute-value">
      <span class="large">{{numberFormat ac.total decimals=0 sign=false}}</span>
    </div>
  </li>
  {{/each}}
  {{#each data.attributes.savingThrows as |savingThrow id|}}
  <li class="attribute saving-throw tooltip" data-savingthrow="{{id}}">
    <div class="tooltipcontent">
      @attributes.savingThrows.{{id}}.total : {{savingThrow.total}}
      @attributes.savingThrows.{{id}}.base : {{savingThrow.base}}

      {{#if savingThrow.sourceDetails.length}}
      <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>
      {{#each savingThrow.sourceDetails as |src|}}
      {{src.name}}: {{src.value}}<br/>
      {{/each}}
      {{/if}}
    </div>
    <h4 class="attribute-name box-title rollable">{{savingThrow.label}}</h4>
    <div class="attribute-value">
      <span class="large">{{savingThrow.total}}</span>
    </div>
  </li>
  {{/each}}
</ul>
<ul class="attributes armor-class flexrow" style="flex: none">
  <div class="flexcol">

    <li>
      <h3 class="block-header">{{ localize 'D35E.BaseCombatStats' }}</h3>
    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute initiative" data-attribute="init">

        <h4 class="attribute-name box-title rollable">{{ localize 'D35E.Initiative' }}</h4>
        <div class="attribute-value tooltip">
          <span>{{data.attributes.init.total}}</span>
          <span class="tooltipcontent">
                @attributes.init.total : {{data.attributes.init.total}}
                {{#if sourceDetails.data.attributes.init.total.length}}
                  <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>
                  {{#each sourceDetails.data.attributes.init.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </span>
        </div>
      </li>

      <li class="attribute bab" data-attribute="bab">

        <h4 class="attribute-name box-title rollable">{{ localize 'D35E.BAB' }}</h4>
        <div class="attribute-value tooltip">
          <span>{{data.attributes.bab.total}}</span>
          <span class="tooltipcontent">
                @attributes.bab.total : {{data.attributes.bab.total}}
                {{#if sourceDetails.data.attributes.bab.total.length}}
                  <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>
                  {{#each sourceDetails.data.attributes.bab.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                {{/if}}
              </span>
        </div>
      </li>
    </ul>
  </div>
  <div class="flexcol">

    <li>
      <h3 class="block-header">{{ localize 'D35E.AttackBonuses' }}</h3>

    </li>
    <ul class="attributes misc-base flexrow" style="flex: 0 0 40px">
      <li class="attribute cmb" data-attribute="cmb">
        <h4 class="attribute-name box-title rollable">{{ localize 'D35E.CMBAbbr' }}</h4>
        <div class="attribute-value tooltip">
          <span>{{data.attributes.cmb.total}}</span>
          <span class="tooltipcontent">
                  @attributes.cmb.total : {{data.attributes.cmb.total}}
                  {{#if sourceDetails.data.attributes.cmb.total.length}}
                    <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>
                    {{#each sourceDetails.data.attributes.cmb.total as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}
                  {{/if}}
                </span>
        </div>
      </li>

      <li class="attribute melee-bab" data-attribute="melee-ab">
        <h4 class="attribute-name box-title rollable">{{ localize 'D35E.Melee' }}</h4>
        <div class="attribute-value tooltip">
          <span>{{attackBonuses.melee}}</span>
          <span class="tooltipcontent">
              {{ localize 'D35E.FromSources' }}:<br/>
               {{ localize 'D35E.BAB' }}: {{data.attributes.bab.total}}<br/>
               {{ localize 'D35E.AbilityStr' }}: {{data.abilities.str.mod}}<br/>
               {{ localize 'D35E.Size' }}: {{attackBonuses.sizeMod}}<br/>
            {{#if data.attributes.energyDrain}}
              {{ localize 'D35E.LevelDrain' }}: -{{data.attributes.energyDrain}}<br/>
            {{/if}}
            {{#if data.attributes.attack.general}}
              {{localize "D35E.AttackBonuses"}}: {{data.attributes.attack.general}}<br/>
            {{/if}}
            {{#if data.attributes.attack.melee}}
              {{localize "D35E.Melee"}} {{localize "D35E.AttackBonuses"}}: {{data.attributes.attack.melee}}<br/>
            {{/if}}
          </span>
        </div>
      </li>
      <li class="attribute ranged-bab" data-attribute="ranged-ab">
        <h4 class="attribute-name box-title rollable">{{ localize 'D35E.Ranged' }}</h4>
        <div class="attribute-value tooltip">
          <span>{{attackBonuses.ranged}}</span>
          <span class="tooltipcontent">
              {{ localize 'D35E.FromSources' }}:<br/>
               {{ localize 'D35E.BAB' }}: {{data.attributes.bab.total}}<br/>
               {{ localize 'D35E.AbilityDex' }}: {{data.abilities.dex.mod}}<br/>
               {{ localize 'D35E.Size' }}: {{attackBonuses.sizeMod}}<br/>
              {{#if data.attributes.energyDrain}}
                {{ localize 'D35E.LevelDrain' }}: -{{data.attributes.energyDrain}}<br/>
              {{/if}}
            {{#if data.attributes.attack.general}}
              {{localize "D35E.AttackBonuses"}}: {{data.attributes.attack.general}}<br/>
            {{/if}}
            {{#if data.attributes.attack.ranged}}
              {{localize "D35E.Ranged"}} {{localize "D35E.AttackBonuses"}}: {{data.attributes.attack.ranged}}<br/>
            {{/if}}
          </span>
        </div>
      </li>
    </ul>
  </div>
</ul>

<!--<ul class="attributes misc-base flexrow" style="flex: 0 0 40px">-->

<!--  {{#if sourceDetails.data.attributes.turnUndeadHdTotal.length}}-->
<!--  <li class="attribute turnUndeadHdTotal high" data-attribute="turnUndeadHdTotal">-->
<!--    <h4 class="attribute-name box-title rollable">{{ localize 'D35E.TurnUndead' }}</h4>-->
<!--    <div class="attribute-value tooltip">-->
<!--      <span>{{data.attributes.turnUndeadHdTotal}}</span>-->
<!--      <span class="tooltipcontent">-->
<!--                @attributes.turnUndeadHdTotal: {{data.attributes.turnUndeadHdTotal}}-->
<!--                {{#if sourceDetails.data.attributes.turnUndeadHdTotal.length}}-->
<!--                  <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>-->
<!--                  {{#each sourceDetails.data.attributes.turnUndeadHdTotal as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}-->
<!--                {{/if}}-->
<!--              </span>-->
<!--    </div>-->

<!--    <footer class="attribute-footer flexrow">-->
<!--      <span>&nbsp;</span>-->
<!--      <input type="text" name="data.attributes.turnUndeadUses"-->
<!--             value="{{data.attributes.turnUndeadUses}}" placeholder="0" />-->
<!--      <span>/</span>-->
<!--      <div class="tooltip">-->
<!--        <input type="text" name="data.attributes.turnUndeadUsesTotal"-->
<!--               value="{{data.attributes.turnUndeadUsesTotal}}" placeholder="0" disabled/>-->
<!--        <span class="tooltipcontent">-->
<!--                @attributes.turnUndeadUsesTotal: {{data.attributes.turnUndeadUsesTotal}}-->
<!--                {{#if sourceDetails.data.attributes.turnUndeadUsesTotal.length}}-->
<!--                  <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>-->
<!--                  {{#each sourceDetails.data.attributes.turnUndeadUsesTotal as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}-->
<!--                {{/if}}-->
<!--              </span>-->
<!--      </div>-->
<!--      <span>&nbsp;</span>-->
<!--    </footer>-->
<!--  </li>-->
<!--  {{/if}}-->
<!--  {{#if sourceDetails.data.attributes.sneakAttackDiceTotal.length}}-->
<!--  <li class="attribute sneakAttackDiceTotal high" data-attribute="sneakAttackDiceTotal">-->
<!--    <h4 class="attribute-name box-title">{{ localize 'D35E.SneakAttackDiceTotal' }}</h4>-->
<!--    <div class="attribute-value tooltip">-->
<!--      <span>{{data.attributes.sneakAttackDiceTotal}}d6</span>-->
<!--      <span class="tooltipcontent">-->
<!--                @attributes.sneakAttackDiceTotal: {{data.attributes.sneakAttackDiceTotal}}-->
<!--                {{#if sourceDetails.data.attributes.sneakAttackDiceTotal.length}}-->
<!--                  <br/><br/>{{ localize 'D35E.FromSources' }}:<br/>-->
<!--                  {{#each sourceDetails.data.attributes.sneakAttackDiceTotal as |src|}}{{src.name}}: {{src.value}}<br/>{{/each}}-->
<!--                {{/if}}-->
<!--              </span>-->
<!--    </div>-->
<!--  </li>-->
<!--  {{/if}}-->

<!--</ul>-->
{{!-- Attack Navigation --}}
<nav class="sheet-navigation tabs subtabs attacks" data-group="attacks">
  {{#each sections as |section sid|}}
  <a class="item" data-tab="{{sid}}">{{section.label}}</a>
  {{/each}}
</nav>

<section class="attacks-body">
  {{#each sections as |section sid|}}
  <div class="tab inventory-group flexcol {{#if section.initial}}active{{/if}}" data-group="attacks" data-tab="{{sid}}">
    <ol class="inventory-list sub-scroll scroll-attacks">
      <li class="inventory-header flexrow">
        <h3 class="item-name flexrow"></h3>
        <div class="item-detail item-type" style="flex: 0 0 112px;"><span>{{ localize 'D35E.AttackBonus' }}<i class="fas fa-question-circle tooltip"><span style="    white-space: break-spaces;" class="tooltipcontent">{{{localize "D35E.AttackBonusInfo"}}}</span></i></span></div>
        <div class="item-detail item-type" style="flex: 0 0 112px;"><span>{{ localize 'D35E.Damage' }}</span></div>
        <div class="item-detail item-type" style="flex: 0 0 60px;"><span>{{ localize 'D35E.Range' }}</span></div>
        {{#if section.showTypes}}<div class="item-detail item-type" style="flex: 0 0 32px;"><span>{{ localize 'D35E.Type' }}</span></div>{{/if}}
        
        <div class="item-detail item-actions"><span>{{ localize 'D35E.ActionPlural' }}</span></div>
        
        <div class="item-detail item-uses"><span>{{ localize 'D35E.ChargePlural' }}</span></div>
        
        {{#if ../owner}}
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="{{ localize 'D35E.CreateItem' }}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{ localize 'D35E.Add' }}
          </a>
          {{/if}}
        </div>
        {{/if}}
      </li>
      
      <ol class="item-list">
        {{#each section.items as |item iid|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable {{#if item.data.melded}}melded{{/if}} {{#if item.disabled}}attack-disabled{{/if}}">
            <div class="item-image" style="background-image: url('{{item.img}}')"></div>
            <h4>
              {{item.name~}} {{#if item.data.melded}}<i class="fas fa-leaf"></i>{{/if}}

              {{#if item.data.linkImported}}
              <i class="fas fa-link non-rollable" style="color: black; opacity: 0.7">
              </i>
              <em style="color: black; opacity: 0.7" class="non-rollable">{{item.data.linkSourceName}}</em>
              {{/if}}
            </h4>
          </div>

          {{#unless item.isFullAttack}}
          <div class="item-detail item-type" style="flex: 0 0 112px;">
            <span>{{item.attackDescription}}</span>
          </div>
          <div class="item-detail item-type" style="flex: 0 0 112px;">
            <span>{{item.damageDescription}}</span>
          </div>
          <div class="item-detail item-type" style="flex: 0 0 60px;">
            <span>{{item.range}}</span>
          </div>
          {{/unless}}

          {{#if section.showTypes}}
          <div class="item-detail item-type" style="flex: 0 0 32px;">
            <span>{{{lookup ../../config.attackTypesIcon item.data.attackType}}}</span>
          </div>
          {{/if}}
          
          <div class="item-detail item-actions">
            <div class="item-attack">
              {{#if item.hasAction}}
              {{#unless item.data.melded}}
              {{#unless item.disabled}}
              {{#unless item.isRecharging}}
              <a class="item-control item-attack"><img class="icon" src="systems/D35E/icons/actions/gladius.svg"></a>
              {{/unless}}
              {{/unless}}
              {{/unless}}
              {{/if}}
              {{#if item.isFullAttack}}
              <a class="item-control item-attack"><img class="icon" src="systems/D35E/icons/actions/gladius.svg"></a>
              {{/if}}
            </div>
          </div>
          
          <div class="item-detail item-uses flexrow {{#if item.isCharged}}tooltip{{/if}}">
            {{#if item.isCharged}}
                        {{#unless item.isRecharging}}
                        {{#unless item.data.linkedChargeItem.id}}
                        <input type="text" value="{{item.data.uses.value}}" data-dtype="Number" />
                        {{else}}
                        <input type="text" value="{{item.charges}}" disabled data-dtype="Number" />
                        {{/unless}}
                        <span class="sep"> of </span>
                        {{#unless item.data.linkedChargeItem.id}}
                        <input type="text" value="{{item.maxCharges}}" disabled data-dtype="Number" />
                        {{else}}
                        <input type="text" value="{{item.maxCharges}}" disabled data-dtype="Number" />

                        {{/unless}}
                        <span class="tooltipcontent">
                            @resources.{{item.tag}}.value : {{item.data.uses.value}}<br>
                            @resources.{{item.tag}}.max : {{item.data.uses.max}}
                            {{#if item.hasTimedRecharge}}
                            <br><br>
                            This item will recharge after use <br>after {{item.data.recharge.formula}} rounds.
                            {{/if}}
                        </span>
                        <i class="fas fa-history recharge-icon"></i>
                        {{else}}
                        <span><i class="fas fa-history"></i> Ready in {{item.data.recharge.current}}</span>
                        {{/unless}}
                        {{/if}}
          </div>
          
          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{ localize 'D35E.EditItem' }}"><i class="fas fa-edit"></i></a>
            {{#unless item.data.linkImported}}
            <a class="item-control item-delete" title="{{ localize 'D35E.DeleteItem' }}"><i
                    class="fas fa-trash"></i></a>
            {{/unless}}
          </div>
          {{/if}}

        </li>

        {{#if item.isFullAttack}}
        <ol class="item-list item-list-class-{{iid}}" style="border-top: none; border-bottom: 1px solid #c9c7b8; padding-left: 11px; margin-left: 12px; border-left: 3px dotted #c9c7b8;">
          {{#each item.data.attacks as |iitem level|}}
          {{#if iitem.id}}
          <li class="item item-box  flexrow" data-item-id="{{iitem.id}}" data-pack="{{iitem.pack}}"
              data-item-level="{{iitem.level}}">
            <div class="item-name rollable child-item flexrow">
              <div class="item-image" style="background-image: url('{{iitem.img}}')"></div>
              <h4>
                {{iitem.name~}}
                {{#if iitem.primary}}
                <em style="color: black; opacity: 0.7">{{localize "D35E.PrimaryAttack"}}</em>
                {{/if}}
              </h4>
            </div>
            <div class="item-detail item-actions">
              <div class="item-attack">
<!--                {{#if iitem.hasAction}}-->
<!--                  <a class="item-control item-attack"><img class="icon" src="systems/D35E/icons/actions/gladius.svg"></a>-->
<!--                {{/if}}-->
              </div>
            </div>
            <div class="item-detail item-uses flexrow">
              <em>{{iitem.count}}</em>
            </div>

            <div class="item-controls"></div>

          </li>
          {{/if}}
          {{/each}}

        </ol>
        {{/if}}
        {{/each}}
      </ol>
    </ol>
  </div>
  {{/each}}
</section>
